<div id="esr_outer">
    <div id="esr_inner">
        {% if data.showEsrBackground %}
            <img src="{{ esrBase64Background(data.type) }}" alt="" id="background">
        {% endif %}
{% if data.isBesr %}
        <div id="esr_bank_left">
            {{ data.bank }}<br />
            {{ data.bankCity }}
        </div>
        <div id="esr_bank_right">
            {{ data.bank }}<br />
            {{ data.bankCity }}
        </div>
{% endif %}
        <div id="esr_receiver_left">
            {{ data.receiver }}<br />
            {% if data.receiverAddress %}{{ data.receiverAddress }}<br />{% endif %}
            {% if data.receiverAdditional %}{{ data.receiverAdditional }}<br />{% endif %}
            {% if data.receiverCity %}{{ data.receiverCity }}{% endif %}
        </div>
        <div id="esr_receiver_right">
            {{ data.receiver }}<br />
            {% if data.receiverAddress %}{{ data.receiverAddress }}<br />{% endif %}
            {% if data.receiverAdditional %}{{ data.receiverAdditional }}<br />{% endif %}
            {% if data.receiverCity %}{{ data.receiverCity }}{% endif %}
        </div>
        <div id="esr_reference_number_left">
            {{ data.niceReferenceNumber }}
        </div>
        <div id="esr_sender_left">
            {{ data.sender }}<br />
            {% if data.senderAddress %}{{ data.senderAddress }}<br />{% endif %}
            {% if data.senderAdditional %}{{ data.senderAdditional }}<br />{% endif %}
            {% if data.senderCity %}{{ data.senderCity }}{% endif %}
        </div>
        <div id="esr_sender_right">
            {{ data.sender }}<br />
            {% if data.senderAddress %}{{ data.senderAddress }}<br />{% endif %}
            {% if data.senderAdditional %}{{ data.senderAdditional }}<br />{% endif %}
            {% if data.senderCity %}{{ data.senderCity }}{% endif %}
        </div>
        <div id="esr_reference_number">
            <pre>{{ data.niceReferenceNumber }}</pre>
        </div>
        <div id="esr_account_left">
            {{ data.receiverAccount }}
        </div>
        <div id="esr_account_right">
            {{ data.receiverAccount }}
        </div>
        <div id="esr_price_left">
            <pre>{{ data.amount[:(data.amount|length-2)] }}</pre>
        </div>
        <div id="esr_price_decimal_left">
            <pre>{{ data.amount[(data.amount|length-2):] }}</pre>
        </div>
        <div id="esr_price_right">
            <pre>{{ data.amount[:(data.amount|length-2)] }}</pre>
        </div>
        <div id="esr_price_decimal_right">
            <pre>{{ data.amount[(data.amount|length-2):] }}</pre>
        </div>
        <div id="esr_code">
            {% for i, letter in data.code|split('') %}
                <pre id="esr_code_{{ i }}_letter">{{ letter }}</pre>
            {% endfor %}
        </div>
    </div>
</div>
