<div id="esr_outer">
    <div id="esr_inner">
        {% if data.showEsrBackground %}
            <img src="{{ esrBase64Background(data.type) }}" alt="" id="background">
        {% endif %}
{% if data.isBesr %}
        <div id="esr_bank_left">
            {{ data.bank }}<br />
            {{ data.bankCity }}
        </div>
        <div id="esr_bank_right">
            {{ data.bank }}<br />
            {{ data.bankCity }}
        </div>
{% endif %}
        <div id="esr_receiver_left">
            {{ data.receiver }}<br />
            {% if data.receiverAddress %}{{ data.receiverAddress }}<br />{% endif %}
            {% if data.receiverAdditional %}{{ data.receiverAdditional }}<br />{% endif %}
            {% if data.receiverCity %}{{ data.receiverCity }}{% endif %}
        </div>
        <div id="esr_receiver_right">
            {{ data.receiver }}<br />
            {% if data.receiverAddress %}{{ data.receiverAddress }}<br />{% endif %}
            {% if data.receiverAdditional %}{{ data.receiverAdditional }}<br />{% endif %}
            {% if data.receiverCity %}{{ data.receiverCity }}{% endif %}
        </div>
        <div id="esr_sender_left">
            {{ data.niceReferenceNumber }}<br />
            <br />
            {{ data.sender }}<br />
            {% if data.senderAddress %}{{ data.senderAddress }}<br />{% endif %}
            {% if data.senderAdditional %}{{ data.senderAdditional }}<br />{% endif %}
            {% if data.senderCity %}{{ data.senderCity }}{% endif %}
        </div>
        <div id="esr_sender_right">
            {{ data.sender }}<br />
            {% if data.senderAddress %}{{ data.senderAddress }}<br />{% endif %}
            {% if data.senderAdditional %}{{ data.senderAdditional }}<br />{% endif %}
            {% if data.senderCity %}{{ data.senderCity }}{% endif %}
        </div>
        <div id="esr_reference_number">
            <pre>{{ data.niceReferenceNumber }}</pre>
        </div>
        <div id="esr_account_left">
            {{ data.receiverAccount }}
        </div>
        <div id="esr_account_right">
            {{ data.receiverAccount }}
        </div>
        <div id="esr_price_left">
            <pre>{{ data.amount[:(data.amount|length-2)] }}</pre>
        </div>
        <div id="esr_price_decimal_left">
            <pre>{{ data.amount[(data.amount|length-2):] }}</pre>
        </div>
        <div id="esr_price_right">
            <pre>{{ data.amount[:(data.amount|length-2)] }}</pre>
        </div>
        <div id="esr_price_decimal_right">
            <pre>{{ data.amount[(data.amount|length-2):] }}</pre>
        </div>
        <div id="esr_code">
            {% for i, letter in data.code|split('') %}
                <pre id="esr_code_{{ i }}_letter">{{ letter }}</pre>
            {% endfor %}
        </div>
    </div>
</div>
<style type="text/css">
    #esr_outer {
        width: 100%;
        height: 10.69cm;
        position: relative;
    }

    #esr_inner {
        position: relative;
        margin-top: 0.22cm;
    }

    #esr_outer {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 9pt;
    }
    pre {
        font-family: 'OCR-B 10 BT';
        margin: 0;
        font-size: 11pt;
        font-weight: normal;
    }

    /**
     * Adressen
     */
    #esr_bank_left,
    #esr_bank_right,
    #esr_receiver_left,
    #esr_receiver_right,
    #esr_sender_left,
    #esr_sender_right {
        position: absolute;
        width: 5.5cm;
    }

    #esr_receiver_left,
    #esr_receiver_right,
    #esr_bank_left,
    #esr_bank_right {
        top: 0.9cm;
    }

{% if data.isBesr %}
    #esr_receiver_left,
    #esr_receiver_right {
        top: 2.2cm;
    }
{% endif %}

    #esr_receiver_left,
    #esr_bank_left,
    #esr_sender_left {
        left: 0.2cm;
    }

    #esr_receiver_right,
    #esr_bank_right {
        left: 6.3cm;
    }

    #esr_sender_left {
        top: 6.1cm;
    }

    #esr_sender_right {
        left: 12.4cm;
        top: 4.7cm;
    }

    /**
     * Code-Zeilen
     */
    #esr_reference_number {
        position: absolute;
        left: 12.2cm;
        top: 3.3cm;
        height: 0.7cm;
        width: 8.2cm;
        text-align: right;
        line-height: 0.7cm;
        vertical-align: middle;
    }

    /**
     * Kontonummer
     */
    #esr_account_left,
    #esr_account_right {
        position: absolute;
        top: 4.3cm;
    }
    #esr_account_left {
        left: 2.8cm;
    }
    #esr_account_right {
        left: 8.9cm;
    }

    /**
     * Preis
     */
    #esr_price_left,
    #esr_price_right,
    #esr_price_decimal_left,
    #esr_price_decimal_right {
        position: absolute;
        top: 5cm;
        height: 0.55cm;
        line-height: 0.7cm;
        vertical-align: middle;
    }
    #esr_price_left pre,
    #esr_price_right pre,
    #esr_price_decimal_left pre,
    #esr_price_decimal_right pre {
        font-size: 12pt;
{% if data.isBoxed %}
        letter-spacing: 0.23cm;
        margin-right: -0.1cm;
{% endif %}
    }

    #esr_price_left,
    #esr_price_right {
        width: 4cm;
        text-align: right;
    }

    #esr_price_decimal_left,
    #esr_price_decimal_right {
        width: 0.9cm;
        padding-left: 0.1cm;
    }

    #esr_price_left {
        left: 0.15cm;
    }

    #esr_price_decimal_left {
        left: 4.7cm;
    }

    #esr_price_right {
        left: 6.25cm;
    }

    #esr_price_decimal_right {
        left: 10.85cm;
    }

    {% set base = 20.1 %}
    {% for i in range(data.code|length, 0) %}
    #esr_code_{{i}}_letter {
        left: {{ base }}cm;
        {% set base = base - 0.254 %}
    }
    {% endfor %}


    #esr_code pre {
        position: absolute;
        top: 8.5cm;
    }

    {% if data.showEsrBackground %}
    /**
     * Hintergrund
     */
    #background {
        max-width: 100%;
        max-height: 100%;
    }
    {% else %}
    /**
     * Korrekturen für Druck
     */
    #esr_inner {
        top: 0.1cm;
    }
    {% endif %}

</style>
